:root {
    --icon-padding: 60px;
    --icon-size: 28px;
}

.input-text-container {
    position: relative;
}

.input-text-container:focus {
    outline: 1px solid #0053A4;
}

.input-text {
    font-family: Roboto-Regular;
    font-size: 18px;
    border: 2px solid #0053A4;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.input-text:focus {
    outline: 1px solid #0053A4;
}

.with-icon {
    padding-left: var(--icon-padding);
}

.input-text-icon {
    position: absolute;
    top: 50%;
    left: calc((var(--icon-padding) - var(--icon-size)) / 2);
    width: var(--icon-size);
    height: var(--icon-size);
    transform: translateY(-50%);
    cursor: text;
}

.input-text-label {
    display: block;
    user-select: none;
    margin-bottom: 8px;
}
